* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #F2F2F2;
}

/*NAVBAR*/

nav {
	border-bottom: 1px solid black;
	/*margin-bottom: 10px;*/
}


.dropdown-menu img {
	height: 20px;
	width: 20px;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
}

#navpic {
	height: 50px;
	width: 50px;
}

/*END OF NAVBAR*/


/*LANDING PAGE*/

.jumbotron hr {
	background-color: #FFF;
}

#jumbo-land {
	padding-top: 15%;
	height: 100vh;
	background-color: #333;
	border-radius: 0;
}

.jumbotron h1,
.jumbotron p {
	color: #F2F2F2;
}

.btn a {
	text-decoration: none;
	color: #FFF;
}

/*END OF LANDING PAGE*/

/*HOME PAGE*/

.content {
	width: 90%;
	border: 1px solid lightgrey;

}

/*#banner {
	height: 230px;
	width: 100%;
	padding: 0 20px 15px 20px;
}*/

/*.carousel-inner > .carousel-item > img {
	height: 700px;
}*/

.card > img { 
	height: 250px;
}

#carousel-controls {
	height: 400px;
	width: 90%;
}

#carousel-controls img {
	height: 400px;
	width: 90%;
	max-height: 400px;
}

#shopnowbutton {
	text-align: center;
}



/*END OF HOME PAGE*/


/*ABOUT PAGE*/

#jumbotron-about {
	background-color: #F2F2F2;
	height: 300px;
	border-radius: 0;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 0;
}

#banner {
	height: 200px;
	width: 100%;	
	
}

#landing-about {
	font-family: 'Montserrat', sans-serif;
	color: #F2F2F2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

.fadeIn {
	animation-duration: 5s;
}

.content-about {
	width: 90%;
	border: 1px solid lightgrey;
}

.about-tags {
	font-family: 'Montserrat', sans-serif;	
	font-weight: bold;
}

#mission {
	height: 100%;
	background-color: #F2F2F2;
	color: #141414;
}

#vision {
	height: 100%;
	background-color: #003366;
	color: #F2F2F2;
}

/*End of About*/

/*GALLERY*/

#head-gall {
	background-color: #003366;
	color: #F2F2F2;
	text-transform: uppercase; /*uppercase all text*/
	letter-spacing: 0.5em;
}




/*FOOTER*/

footer {
	border-top: 1px black solid;
	color: white;
}

footer a:visited,
footer a:link {
	color: white;
}

.wire {

}

footer p {
	font-size: 15px;
}

#submitbutton,
#nameform {
	width: 100%;
}



/*[class*="col"] {
	border: 3px solid grey;
}

*/





#sample {
	height: 400px;
}

.customercards {
	border: none;
	background-color: #F2F2F2;
}

.customerpics {
	border: 1px solid black;
	border-radius: 100%;
	width: 80%;
}

.starpic {
	height: 20px;
	width: 20px;
}

.star {
	width: 50px;
	border-radius: 100%;
}

.checked {
	color: orange;
	letter-spacing: 0.5em;
}


.try {
	letter-spacing: 0.1em;
}


.outdoor {
	margin: 0 auto;
	text-align: center;
}

.space {
	height: 200px;
}







@media only screen and (min-width: 401px) and (max-width: 960px) {

	#shopnowbutton {
		margin: 0 auto;
	}



/*FOOTER*/

	footer p {
		font-size: 10px;
	}

}
	
@media only screen and (max-width: 400px) {

	.googlemaps {
		margin-top: 30px;
	}

}